# Convert all source files to use LF
*.mod text eol=lf
*.sum text eol=lf
*.go   text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
Dockerfile.* text eol=lf
*.json text eol=lf

# Treat drawio files as binary so diffs don't clutter PRs
*.drawio.svg binary
*.drawio.png binary